body { 
    background: var(--primary-background-color); 
    margin:0;
    color: #2c3e50;
    background-color: #2c3e50;
}




:root {
    --primary-background-color: #82B7C5;
    --light-accent-color: #857F80;  
    --light-shades-color: #F9F8F8;
    --dark-accent-color: #5f8783;
    --dark-accent-disabled-color: #5d6160;
    --dark-shades-color: #285282;

    --card-height: 140px;
    --card-width: 100px;
    
    --card-overlap: -90px;
    --card-overlap-s: -97px;


    --card-height: 140px;
    --card-max-height: 70%;
    --card-width: 100px;
    --card-max-width: 25%;
    --card-half-width: 70px;

    --render-break-width: 600px;
} 